/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}
body {
  color: white;
  background: linear-gradient(360deg, #4F2E3C, #192944) !important;
  font-family: Georgia !important;
}

.movie-forum-button {
  padding: 10px;
  margin: auto;
  font-size: 30px;
  margin-left: 50px;
  float: left;
  background-color: transparent;
  color: black !important;
}

nav {
  height: 70px;
}

header {
  font-family: Georgia !important;
  font-size: 20px;
  background: #EE7C39;
  font-weight: bolder;
}

.navbar-brand {
  color: black;
}

.navbar-brand:focus {
  color: black;
}

.navbar-brand:hover {
  color: black;
}

.navbar-toggler {
  color: black !important;
}

.text-dark {
  padding: 10px;
  color: black !important;
  border-radius: 50px;
  border-style: dashed;
  border-color: #EEAB42;
  font-weight: bolder;
}

ul {
  height: 100%;
  float: right;
  margin-right: 50px;
}

li {
  margin: auto;
}

.text-dark:hover {
  color:#FFFFAA !important;
  background: linear-gradient(45deg, #E33C23, #EE7C39);
}

.nav-link:hover {
  color:#FFFFAA !important;
  background: linear-gradient(45deg, #E33C23, #EE7C39);
  transition: 0.3s;
}

.text-dark:active {
  color:white;
}

body, html {
  height: 100%;
  background-attachment: fixed !important;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.rate {
  float: left;
  height: 46px;
  padding: 0 10px;
}
.rate:not(:checked) > input {
  position:absolute;
  top:-9999px;
}
.rate:not(:checked) > label {
  float:right;
  width:1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:30px;
  color:#ccc;
}
.rate:not(:checked) > label:before {
  content: '★ ';
}
.rate > input:checked ~ label {
  color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}

.movies-display {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  margin-left: 7.5%;
}

.tilting-movie-card {
  background: linear-gradient(180deg, #E33C23, #192944) !important;
  color: #F8EECF !important;
  transform-style: preserve-3d;
  transform: perspective(1000px);
}

.movie-card {
  text-align: center;
  transform: translateZ(100px);
}

.movie-titles {
  max-width: 100%;
  word-break: break-word;
}

.movie-images {
  max-width: 50%;
}

.movie-info-card {
  top: 15%;
  left: 12.5%;
  color: #F8EECF;
  position: absolute;
  margin: auto;
  width: 70%;
  padding: 10px;
}

.movie-info {
  font-size: 20px;
  max-width: 50%;
  word-break: break-word;
}

.movie-img, #uploaded-image {
  display: block;
  position: absolute;
  top: 15%;
  left: 60%;
  max-width: 50%;
  max-height: 80%;
}

button {
  background: linear-gradient(45deg, #E33C23, #EE7C39, #EEAB42);
  color: black;
  font-weight: bolder;
  border-radius: 5px;
  font-size: 18px;
}

button:hover {
  background: linear-gradient(45deg, #623038, #D33A25, #E33C23);
  color: antiquewhite;
}

input, select, textarea {
  background: linear-gradient(180deg, #EEAB42, #E9CC6D);
  color: black;
  font-size: 18px;
  width: 30%;
  word-break: break-word;
  height: 50px;
}

option {
  color: black;
  font-size: 18px;
}

form {
  width: 50%;
}

#upload-movie {
  height: 10%;
  width: 50%;
}

textarea {
  height: 100px;
}

input[type=file]::file-selector-button {
  background: #E01A76;
}

.top-page {
  display:inline-block;
  width:50%;
  margin-left: 25%;
  margin-right: 25%;
  justify-content: center;
}

.searchbox {
  width: 100%;
  margin: auto;
}

.random-movie {
  width: 30%;
  margin-left: 35%;
  margin-right: 35%;
}

.edit-form, .loading, .add-new-movie {
  margin-left: 10%;
  margin-top: 4%;
}

.save-or-remove {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  padding: 5px;
  max-width: 90%;
  gap: 30px;
}

.grid-item {
  max-width: 100%;
}